@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

h1 {
  font-family: Roboto, sans-serif;
  text-align: center;
}
.registration-container {
  margin: auto;
  margin-top: 80px;
  width: 70vw;
  display: grid;
  grid-template-columns: .75fr 1.25fr;
  column-gap: 10px;
  height: 550px;
  min-width: 375px;
  height: 600px;
  /* padding: 4%; */
  /* padding-left: 5%; */
  /* padding-right: 5%; */
  box-shadow: 0 2.8px 2.2px rgba(179, 176, 176, 0.034),
  0 6.7px 5.3px rgba(204, 200, 200, 0.048), 0 12.5px 10px rgba(206, 203, 203, 0.06),
  0 22.3px 17.9px rgba(80, 79, 79, 0.072), 0 41.8px 33.4px rgba(80, 78, 78, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
  background-color: rgba(0, 0, 0, 0.466);
  /* background-color: rgba(180, 178, 178, 0.377); */
  border-radius: 10px;
  backdrop-filter: blur(15px);
  font-family: 'Roboto', sans-serif;
  /* justify-content: center; */
  /* text-align: center; */
}

.inp {
  outline: none;
  width: 80%;
  border-radius: 5px;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  height: 85%;
  /* border: 1px solid black; */
  background: rgb(37, 37, 37);
  /* box-shadow: 2px 2px 3px white; */
  border: none;
  margin: auto;
  color: white;
}
.inp::placeholder {
  color: rgb(150, 148, 148);
}
.inp:focus {
  /* border: 3px solid blue; */
  box-shadow: 2px 2px 8px black;
  transform: scale(1.2);
  transition-duration: 500ms;
}
.btn-dark {
  outline: none;
  background-image: linear-gradient(45deg,rgb(231, 20, 20),rgb(230, 230, 40));
  width: 70%;
  display: block;
  margin: auto;
  height: 40px;
  border: none;
  color: white;
  border-radius: 5px;
  grid-column: 1/span 2 ;
}
button:hover {
  transform: scale(1.1);
  transition-duration: 200ms;
}
.registration-image {
  height: 100%;
  width: 100%;
  border-radius: 10px 0px 0px 10px;
}
.registration-background{
  background-image: url("../images/registration-background.jpg");
  padding-top: 50px;
  padding-bottom: 50px;
}
.inside-registration {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(7,50px);
  width: 100%;
  row-gap: 15px;
  justify-content: center;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10%;
  text-align: left;
}
#show_password{
  display: inline-block;
}

@media only screen and (max-width : 710px) {
    .registration-container{
      grid-template-columns: 1fr;
      width: 350px;
      height: auto;
      border-radius: 10px;
    }
    .registration-image{
      width: 100%;
      height: 100%;
      border-radius: 10px 10px 0px 0px  ;
      content: url("../images/registration-page.jpg");
    }  
    .inside-registration{
      display: flex;
      column-gap: 20px;
      flex-direction: column;
      width: 80%;
    }
    .inp{
      display: block;
      margin:auto;
      height: 50px;
      width: 90%;
      margin-top: 10px;
      background-color: rgb(129, 127, 127);
    }
    .inp::placeholder{
      color: rgb(22, 21, 21);
    }
    .btn-dark{
      height: 50px;
      margin-top:20px ;
    }
}
